.navbar {
  border-radius: 0;
}


#loading-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.btnStyle {
  background: transparent;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 10px;
  position: relative; 
  background-color: white;
}

.btnStyle:before {
  transition: all 0.8s cubic-bezier(0.7, -0.5, 0.2, 2);
  content: '';
  width: 3%;
  height: 100%;
  background: #89533a;
  position: absolute;
  top: 0;
  left: 0;
  opacity:40%;
  padding:1px;
}

.btnStyle span {
  mix-blend-mode: darken;
}

.btnStyle:hover:before {
  background: #89533a;
  width: 100%;
}

