
.appSec {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nutrients {
  margin: 2rem 0 1rem 0;
}
.meals{
  margin: 2rem 0 1rem 0;
}

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.mealBtn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: teal;
  color:white;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  border-radius: 5%;
  
}

.mealBtn:hover {
  cursor: pointer;
}

.weeklyPlanner{
 
  padding:100px;
  width: 1100px;
  box-shadow: 10px 10px 5px grey;
  background: linear-gradient(
    to right, 
    #556b2f  0%, 
    #bab86c  50%, 
    #fffaf1 50%, 
    #fffaf1  100%
  );
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.nutrients h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.nutrients ul {
  display: flex;
  width: 35rem;
  justify-content: space-evenly;
}

.meals {
  display: flex;


}

.article img {
  width: 100%;
  margin-bottom: 1rem;

  
}

.article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 1rem;
  max-width: 300px;
  box-shadow: 7px 7px 3px gray;
  background-color: white ;
  
}

ul {
  list-style: none;
}

.instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size:15px;
   padding:10px;
   border:1px solid navy;
}

.recipesLink a{
  text-decoration: none;
  
  color: #f3f3f3;
  width: fit-content;
  padding: 0.5rem 1rem;
}

.recipesLink a:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .meals {
    flex-direction: column;
    align-items: center;
  }

  .nutrients ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
