.workingOut{
    width:400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 400px;
    background-image: url(https://www.teahub.io/photos/full/276-2763842_cardio-workout-full-hd-gym-workout-hd.jpg);
    
}
.running{
    width:400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 400px;
    background-image: url(https://wallpaperaccess.com/full/1986608.jpg);
}
.frame{
    width:400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 400px;
    background-image: url(https://media1.popsugar-assets.com/files/thumbor/NlZyDJypKVafEjdwEOY34sKsFiA/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2019/11/15/848/n/1922729/65eaaa49a4763e9f_il_794xN.1857767181_a23d/i/Small-Steps-Big-Gains.jpg);
}
.board{
    width:420px;
    height: 300px;
    background-repeat: no-repeat;
    background-size:450px;
    background-image: url(https://lh3.googleusercontent.com/proxy/6eMj9Cw0RZ-Qag0jjkP5NIoolSsfc12b2p64kPE0EvgirNxlpHFJZItMjhNUh8FyasooHfQcN9Bst6aBc1XUj_uQ6wxlFxqvXdQPD0DvkpVHO9AUzcHJLa_ueO0jzQF-wt4PGXU2A5JaKqGniS7kBBivBmjIH0BCUcZiR8BnyQ);
}