.blog{
    font-size: 20px;
    font-family: 'Economica', sans-serif;
    font-weight: bolder;
    
}
.blogSpot{
    display: flex;
    flex-direction: column;
}
.blogVl {
    border-top: 1px solid gray;
    width: 670px;
    padding-bottom: 20px;
    margin: 10px;
    display: flex;
    justify-items: center;
  }
  .vidHeader{
    margin-top: 45px;
  }

.blogContainer {
    display: flex;
    margin:10px;
    width:686px;
    height:500px;
  }
  
  #col-1 {
    background-color: white;
    flex: 1;
    padding-top:100px;
    padding-left: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
  
  }
  
  #col-2 {
    background-color: orang;
    flex: 1;
  }
.firstBlog{
    display: flex;
    flex-direction: row;
}
.blogCollab{
    width:200px;
    margin-left:25px;
}
.colabVl {
    border-top: 1px solid gray;
    width: 180px;
    padding-bottom: 20px;
    margin: 10px;
    display: flex;
    justify-items: center;
  }
.turnPage{
    width:686px;
    height:70px;
    background-color: white;
    margin-left: 10px;
}
.pageNumber{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.pageNum{
   display: flex;
   justify-content: center;
  border: 2px solid #d3d3d3;
  width:100px;
  padding:2px;
}
.pageNum h3{
  padding-top:px ;
    font-size: 12px; 
    color:#d3d3d3; 
}
