.recipePlan{
    display: flex;
    justify-content: center;
    
}
.appSec{
    width:600px;
    height: 200px;
    padding:140px;
    background-color: white;
    box-shadow: 5px 5px 10px;
    border-radius: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom:100px;  
    
}
.mealBtn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: teal;
    color:white;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border-radius: 5%;
    margin-bottom:200px; 
  }
  .mealBtn:hover {
    cursor: pointer;
  }
  input {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .controls {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  

