.vl {
    border-top: 1px solid gray;
    width: 100px;
    padding-bottom: 20px;
    margin: 10px;
    font-weight: 900px;
  }
.vidHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.videos{
    font-size: 20px;
    font-family: 'Economica', sans-serif;
}
.videoOne{
    display: flex;
    justify-content: center;
}
.vidBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.midVertical{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.vidHeaderTwo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-right: 50px;
}
.bottomVids{
    display: flex;
    flex-direction: row;
    background-color: #ececec;
    overflow: auto;
    white-space: nowrap;
    height: 300px;
    overflow-y: hidden;   
}
.row{
    display: flex;
    flex-direction: row;  
    margin:10px; 
    padding:40px;  
}
  
.videoTwo{
    width:100px;
    margin-right: 260px;
    transform:translate(0%,-13%);
}
.emptyBox1{
    width:380px;
    height:230px;
    background-color:#222222;
    color:#fffaf1;
    font-size: 20px;
    font-family: 'Economica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.emptyBox2{
    width:380px;
    height:230px;
    background-color: #222222;
    color:#fffaf1;
    font-size: 20px;
    font-family: 'Economica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -60px;
}


.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
.rightArrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.leftArrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}